.parent{
    background-color: orange;
    padding: 10px;
}
.a{
    background-color: grey;
    margin-top: 30px;
    padding: 10px;
}
.b{
    background-color: blue;
    margin-top: 30px;
    padding: 10px;
}